.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 98vh;
}

.login-container {
  display: flex;
  width: 80%;
  max-width: 1200px;
  background-color: #fff;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.image-section img {
  width: 96%;
  height: 100%;
  object-fit: cover;
}

.form-section {
  width: 60%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h2 {
  margin-right: 380px;
  margin-bottom: 2.5rem;
  font-size: 2rem;
  color: #333;
}

.social-login {
  width: 100%;
  margin-bottom: 1rem;
  padding: 0.8rem;
  font-size: 1rem;
  border: 1px solid #333;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
}

.google-login {
  background-color: transparent;
  color: #8A33FD;
}

.twitter-login {
  background-color: transparent;
  color: #1DA1F2;
}

.google-login:hover,
.twitter-login:hover {
  background-color: #f9f9f9;
}

.divider {
  display: flex;
  align-items: center;
  margin: 1rem 0;
  color: #666;
}

.divider::before,
.divider::after {
  content: '';
  flex: 1;
  height: 1px;
  background-color: #ddd;
  margin: 0 1rem;
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 0.5rem;
  font-weight: bold;
  color: #333;
}

input {
  margin-bottom: 1rem;
  padding: 0.8rem;
  font-size: 1rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 100%; 
  box-sizing: border-box;
}

.password-wrapper {
  position: relative;
  width: 100%;
}

.password-wrapper .toggle-password {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  color: #666;
  cursor: pointer;
}

.forgot-password {
  margin-bottom: 1.5rem;
  font-size: 0.9rem;
  color: #007bff;
  text-decoration: none;
}

.forgot-password:hover {
  text-decoration: underline;
}

.sign-in {
  background-color: #8A33FD;
  color: white;
  padding: 0.8rem;
  font-size: 1rem;
  width: 35%;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.sign-in:hover {
  background-color: #5a54d8;
}

p {
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
  font-size: 0.9rem;
  color: #666;
  margin-right: 350px;
}


p a {
  color: #007bff;
  text-decoration: none;
}

p a:hover {
  text-decoration: underline;
}
